/* .cart{
    color: #EF6501;
} */
.page__heading{
    margin-top: 11.813rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.125rem;
    color: #EF6501;
    position: relative;
    margin-bottom: 1.625rem;
}
.page__heading::before{
    content: '';
    background-color: #EF6501;
    border-radius: 5px;
    display: block;
    width: 200px;
    height: 2px;
    position: absolute;
    bottom: -5px;
}
.items__quanity{
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #5E5E5E;
    margin-bottom: 4.938rem;
}
.cart__container{
    margin-bottom: 5.688rem;
    display: flex;
    justify-content: space-between;
}
.items__container{
    /* max-width: 58.75%; */
    max-width: fit-content;
}

.item__card{
    width: 810px;
    height: 234px;
    /* height: fit-content; */
    padding: 0;
}
.img__container{
    margin: 15px 0 0 15px;
    margin-bottom: 0;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.card__content{
    flex-direction: row;
    position: relative;
}
.item__info{
    position: relative;
    padding-top: 15px;
}
.item__name{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #3E3E3E;
    margin-bottom: 12px;
    margin-top: 6px;
}
.item__desc-short{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #5E5E5E;
    max-width: 458px;
    margin-bottom: 19px;
}
.control__buttons{
    display: flex;
    padding: 15px 15px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}
.delete__item-button{
    border: none;
    background: none;
}
.like__item-button{
    position: static;
    margin-right: 10px;
}
.summary-row{
    display: flex;
    align-items: center;
}
.item__cost{
    margin-right: 33px;
    /* padding-bottom: 15px; */
}
.quantity{
    display: flex;
    margin-right: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3E3E3E;
    /* padding-bottom: 15px; */
}
.summary__pricing{
    /* position: absolute;
    bottom: -15px;
    right: -157px; */
    margin-left: 5.4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3E3E3E;
    padding: 19px 25px 15px 25px;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 10px 0px 0px 0px;
}
.summary__pricing-value{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #EF6501;
    margin-left: 16px;
}

.items__quantity-input{
    max-width: 33px;
    margin-left: 25px;
    border: 1px solid #D9D9D9;
    outline: none;
    height: 20px;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.change__quantity{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #EF6501;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    background-color: #fff;
    width: 20px;
    height: 20px;
}
.increase{
    margin-right: 3px;
}
.descrease{
    line-height: 3px;
}

.cart__summary{
    align-self: self-start;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.summary-text{
    padding: 32px 48px 25px 48px;
    border-bottom: 1px solid #D9D9D9;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3E3E3E;
}
.cart__summary-value{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-left: 30px;
    color: #EF6501;
}
.select__payment{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #3E3E3E;
    margin-top: 22px;
    margin-bottom: 34px;
    text-align: center;
}
.payment__methods{
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 24px;
}


@media screen and (max-width: 1306px){
    .items__container{
        margin-bottom: 5rem;
        /* display: flex; */
        /* flex-direction: column; */
    }
    .cart__container{
        margin-bottom: 0;
    }
    .summary-text{
        text-align: center;
    }
    .img__container{
        /* width: 160px;
        height: 160px; */
        margin-bottom: 15px;
    }
    .item__desc-short{
        display: none;
    }
    .item__name{
        max-width: 280px;
        margin-right: 70px;
    }
    .item__card{
        height: fit-content;
        width: fit-content;
    }
    .summary-row{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .item__cost{
        margin-right: 15px;
        margin-bottom: 33px;
    }
    .quantity{
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .control__buttons{
        display: flex;
        padding: 15px 15px 0 0;
        position: absolute;
        right: 0px;
        top: 0;
    }
    .summary__pricing{
        margin-left: 120px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1085px){
    .main{
        min-height: calc(100vh - 426.5px);
    }
    .cart__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart__summary{
        margin: 0 auto;
        width: 100%;
    }
    .item__name{
        margin-right: 20px;
    }
    .control__buttons{
        right: 0px;
        top: 0;
    }
    .summary__pricing{
        margin-left: 95px;
        margin-top: 20px;
    }
    .img__container{
        width: 160px;
        height: 160px;
        /* margin-bottom: 15px; */
    }
    .item__cost{
        margin-bottom: 10px;
    }
    .quantity{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 572px){
    .page__heading{
        margin-top: 6.5rem;
        margin-bottom: 2.206rem;
    }
    .items__quanity{
        margin-bottom: 3.676rem;
    }
    .item__name{
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        max-width: 132px;
        margin-bottom: 17px;
        margin-right: 5px;
    }
    .item__cost{
        margin-bottom: 89px;
    }
    .like__item-button{
        margin-right: 8px;
    }
    .summary__pricing{
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .quantity{
        margin-left: -169px;
        margin-bottom: -33px;
        border-top: 1px solid #D9D9D9;
        padding-top: 10px;
        padding-left: 6px;
        padding-right: 10px;
        position: relative;
    }
    .quantity-text{
        visibility: hidden;
    }
    .quantity-text::after{
        content: 'К-сть';
        visibility: visible;
        position: absolute;
        top: 7px;
        left: 13px;
    }
    .summary__pricing{
        margin-left: 0px;
        border-left: 1px solid #D9D9D9;
        padding: 11px 20.3px;
        border-top: 1px solid #D9D9D9;
    }
    .summary__pricing-text{
        display: none;
    }
    .control__buttons{
        display: flex;
        padding: 15px 15px 0 0;
        position: absolute;
        right: -5px;
        top: 125px;
        height: fit-content;
    }
    .like__item-button{
        margin-right: 8px;
    }
    .summary__pricing-value{
        margin-left: 0;
    }
    .img__container{
        margin: 18px 5px 16px 8px;
    }
    .items__quantity-input{
        margin-left: -10px;
    }
    .cart__summary{
        border-radius: 5px;
    }
    .summary-text{
        padding: 22px 0 14px 0;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 14px;
    }
    .cart__summary-value{
        margin-left: 8px;
    }
    .select__payment{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 21px;
    }
    .payment__methods{
        padding: 0 10px;
    }
}
